@using DancingGoat.InlineEditors
@using DancingGoat.Widgets

@model ArticlesWidgetViewModel

@{
    var i = 1;
}

@if (Context.Kentico().PageBuilder().EditMode)
{
    <partial name="~/Components/InlineEditors/SpinnerEditor/_SpinnerEditor.cshtml"
             model="new SpinnerEditorViewModel
                    {
                        PropertyName = nameof(ArticlesWidgetProperties.Count),
                        Count = Model.Count
                    }" />
}

<div class="articles-section">
    <div class="hr"></div>
    <div class="row">
        <div class="title-wrapper">
            <h1 class="title-tab">@HtmlLocalizer["Industries we support"]</h1>
        </div>
        @foreach (var article in Model.Articles)
        {
            if(i == 5)
            {
                // Break loop
                break;
            }
            <div class="article-tile article-tile-large">
                @if (i % 2 == 0)
                {
                    <div class="article-tile-inner">
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            @if (article.TeaserUrl != null)
                            {
                                <a href="@article.Url">
                                    <img src="@article.TeaserUrl.RelativePath" alt="@article.Title" title="@article.Title" class="article-tile-image" />
                                </a>
                            }
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-7 article-tile-info">
                            <div class="article-tile-date">
                                @article.PublicationDate.ToString("m")
                            </div>
                            <div class="article-tile-content">
                                <h2>
                                    @article.Title
                                </h2>
                                <p class="article-tile-text lead-paragraph">
                                    @article.Summary
                                </p>
                            </div>
                            <br>
                            <a class="btn btn-more" href="@article.Url">
                                Check it
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12 col-lg-6 col-xl-7 article-tile-info">
                        <div class="article-tile-date">
                            @article.PublicationDate.ToString("m")
                        </div>
                        <div class="article-tile-content">
                            <h2>
                                @article.Title
                            </h2>
                            <p class="article-tile-text lead-paragraph">
                                @article.Summary
                            </p>
                        </div>
                        <br>
                        <a class="btn btn-more" href="@article.Url">
                            Check it
                        </a>
                    </div>
                    <div class="article-tile-inner">
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            @if (article.TeaserUrl != null)
                            {
                                <a href="@article.Url">
                                    <img src="@article.TeaserUrl.RelativePath" alt="@article.Title" title="@article.Title" class="article-tile-image" />
                                </a>
                            }
                        </div>
                    </div>
                }
                <div class="hr"></div>
            </div>
            i++;
        }
    </div>
    <div class="row">
        <div class="clear center-text">
            <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.ARTICLES)" class="btn btn-more">
                @HtmlLocalizer["More news"]
            </a>
        </div>
    </div>
</div>