@using DancingGoat.InlineEditors
@using DancingGoat.Widgets

@model BannerWidgetModel

@{
    string styleAttribute = null;
    if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        styleAttribute = $"style=\"background-image: url('{Url.Content(Model.ImagePath)}');\"";
    }

    bool editMode = Context.Kentico().PageBuilder().EditMode;
    bool displayLink = !editMode && !String.IsNullOrEmpty(Model.LinkUrl);
}

@if (editMode)
{
    <vc:image-uploader image-type="@ImageTypeEnum.MediaFile" property-name="@nameof(BannerWidgetProperties.Image)" 
                       has-image="@(Model.ImagePath != null)" message-position="@PanelPositionEnum.Top"
                       use-absolute-position="true" />
}

@{
    async Task RenderBanner()
    {
        <div class="video-banner-section">
            <vc:video-banner />
        </div>
        <section class="banner-section" @*@Html.Raw(styleAttribute)*@>
            <h3>@HtmlLocalizer["Harness the power of data to optimize your job site"]</h3>
            <p class="banner-text">
                @if (editMode)
                {
                    <partial name="~/Components/InlineEditors/TextEditor/_TextEditor.cshtml"
                             model="new TextEditorViewModel
                                    {
                                        PropertyName = nameof(BannerWidgetProperties.Text),
                                        Text = Model.Text,
                                    }" />
                }
                else
                {
                    @Model.Text
                }
            </p>
            <a class="learn-more" href="/Kentico12_4/">Learn More</a>
        </section>
    }
}


@if (displayLink)
{
    <a title="@Model.LinkTitle" href="@Model.LinkUrl" class="banner-link">
        @{await RenderBanner();}
    </a>
}
else
{
    await RenderBanner();
}
