@model DancingGoat.Models.ProductListItemViewModel

@{
    var price = Model.PriceDetail;
    var currency = price.Currency;

    var horsepower = Model.Horsepower;
    var operatingWeight = Model.OperatingWeight;
    var bladeCapacity = Model.BladeCapacity;
}

<article class="product-tile">
    <a href="@Model.Url">
        @if (!string.IsNullOrEmpty(Model.PublicStatusName))
        {
            <span class="product-tile-status">
                @HtmlLocalizer[Model.PublicStatusName]
            </span>
        }
        <figure class="product-tile-image">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Model.ImagePath" alt="@Model.Name" title="@Model.Name" />
                @if (!Model.Available)
                {
                    <span class="product-tile-stock notavailable"> @HtmlLocalizer["Out of stock"]</span>
                }
            }
        </figure>
        <div class="product-tile-info">
            <span class="h4">@Model.Name</span><br />
            <span class="product-tile-price">
                @string.Format(currency.CurrencyFormatString, price.Price)
            </span>
            @if (price.ListPrice > price.Price)
            {
                <span class="product-tile-list-price">
                    @string.Format(currency.CurrencyFormatString, price.ListPrice)
                </span>
            }
            <ul class="product-info-group">
                @if (!string.IsNullOrEmpty(horsepower))
                {
                    <li>
                        <span>Horsepower: <mp> @horsepower</span>
                    </li>
                }
                @if (!string.IsNullOrEmpty(operatingWeight))
                {
                    <li>
                        <span>Operating Weight: <mp> @operatingWeight</span>
                    </li>
                }
                @if (!string.IsNullOrEmpty(bladeCapacity    ))
                {
                    <li>
                        <span>Blade Capacity: <mp> @bladeCapacity</span>
                    </li>
                }
            </ul>
        </div>
    </a>
</article>