@model DancingGoat.Models.RetrievePasswordViewModel

@{
    var isSuccessed = Model != null && (Model?.IsSuccessfulRetrievePassword == true);
}
<div class="signin-register">
    <div class="col-md-10 col-lg-10 zone-light zone-login">
        <div class="login-container logon-panel-password-retrieval row">
            <div class="col-md-10 col-lg-10 col-lg-offset-3 col-md-offset-3">
                <br />
                <h2>@HtmlLocalizer["Reset your password"]</h2>

                <div id="retrievePassword">
                    @if (!isSuccessed)
                    {
                        <form asp-action="RetrievePassword" method="post">
                            @Html.AntiForgeryToken()
                            <p>@HtmlLocalizer["Enter the email address associated with your account to reset your password"]</p>
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="editing-form-label-cell">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="editing-form-value-cell">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <input type="submit" value="@HtmlLocalizer["Submit"]" class="btn btn-primary" />
                            </div>
                        </form>

                        <script type="text/javascript">
                            $.validator.unobtrusive.parse(document);
                        </script>
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <a asp-controller="Account" asp-action="Login" class="logon-password-retrieval-link">
                                    <span>@HtmlLocalizer["Already a member? "]</span>
                                    @HtmlLocalizer["Sign In"]
                                </a>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <a asp-controller="Account" asp-action="Register" class="logon-password-retrieval-link">
                                    <span>@HtmlLocalizer["Not a member? "]</span>
                                    @HtmlLocalizer["Register Now"]
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>@HtmlLocalizer["We'll send a password recovery link in a few minutes. You please check your email!"]</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
