@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-page-container">
    <div class="col-xs-12 col-md-3 col-lg-3">
        <nav class="sub-menu row" data-ktc-search-exclude>
            <div class="store-menu-list row">
                <ul>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.COFFEES)">@HtmlLocalizer["Coffees"]</a>
                    </li>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.BREWERS)">@HtmlLocalizer["Brewers"]</a>
                    </li>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.ACCESSORIES)">@HtmlLocalizer["Accessories"]</a>
                    </li>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.GRINDERS)">@HtmlLocalizer["Grinders"]</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}