@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-page-container">
    <div class="col-xs-12 col-md-2 col-lg-2">
        <nav class="sub-menu row" data-ktc-search-exclude>
            <div class="store-menu-list row">
                <ul>
                    @*<li>
                    <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.COFFEES)">@HtmlLocalizer["Coffees"]</a>
                    </li>
                    <li>
                    <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.BREWERS)">@HtmlLocalizer["Brewers"]</a>
                    </li>
                    <li>
                    <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.ACCESSORIES)">@HtmlLocalizer["Accessories"]</a>
                    </li>
                    <li>
                    <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.GRINDERS)">@HtmlLocalizer["Grinders"]</a>
                    </li>*@
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.DOZERS)">@HtmlLocalizer["Dozers"]</a>
                    </li>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.EXCAVATORS)">@HtmlLocalizer["Excavators"]</a>
                    </li>
                    <li>
                        <a href="@Url.Kentico().PageUrl(ContentItemIdentifiers.CRUSHINGS)">@HtmlLocalizer["Crushing"]</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9" style="padding-left:3rem">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}